RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !index.php$
RewriteRule style/(.*)$ 	app/alt/style/$1 [L]
RewriteRule js/(.*)$ 		app/alt/js/$1 [L]
RewriteRule img/(.*)$ 		app/alt/img/$1 [L]	
RewriteRule ^(.*)$ index.php?url=$1 [L]